* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(234, 252, 252);
}

.head_index {
    background-color: white;
    width: 100vw;
    height: 8vh;
}

.head_left {
    display: flex;
    width: 100vw;
    height: 10vh;
}

.head_title {
    font-style: oblique;
    margin: 1vh;
    margin-left: 4vh;
}

.head_link_ul {
    list-style-type: none;
    margin: 2vh;
    margin-top: 2.5vh;
    font-size: large;
}

li {
    display: inline;
}

.link_item {
    text-decoration: none;
    color: black;
    margin: 3vh;
    padding: 1vh;
    transition: 0.8s;
    border-radius: 10px;
}

.link_item:hover{
    background-color: aqua;
}

.content{
    position: relative;
    margin: 5vh;
    background-image: url(cool-background.png);
    background-size: cover;
    height: 80vh;
    border-radius: 35px;
}

.content_title{
    position: absolute;
    top: 15%;
    left: 3%;
    font-size: 3em;
    font-weight: 1000;
}

.content_introduce{
    position: absolute;
    top: 35%;
    left: 3%;
    font-size: 2em;
    font-weight: 350;
}
.friend{
    position: absolute;
    top: 47%;
    left: 3%;
    font-size: 2em;
    color: rgb(169, 45, 252);
    text-shadow: 1px 1px 8px;
}

.start_button{
    position: absolute;
    top: 60%;
    left: 3%;
    padding: 2vh;
    text-decoration: none;
    color: rgb(251, 240, 255);
    border-radius: 50px;
    background-image: linear-gradient(to right,rgb(85, 85, 247),purple);
    width: 5vw;
    text-align: center;
    font-size: large;
    transition: 0.5s;
}

.start_button:hover{
    background-image: linear-gradient(to right,green,yellow);
}